@import "slick";
@import "fonts";
@import "vars";
@import "reset";


// START COMMON STYLES

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.container{
	width: 100%;
	height: 100%;
	max-width: 1210px;
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
	@extend .clearfix;
}

.main-wrapper {
	min-height: 100%;
	padding-bottom: 563px;
	position: relative;
}
.logo{
	text-align: center;
	a{
		display: block;
	}
	h1{
		display: inline-block;
		font: 39px/37px sourceSansReg;
	}
	span{
		color: $orange;
	}
	p{
		font: 9.33px sourceSansReg;
		text-transform: uppercase;
	}
}
.common-buttons-wrap{
	.common-btn{
		background-color: $orange;
		border-radius: 3px;
		transition: all 0.2s ease;
		display: inline-block;
		border: 1px solid transparent;
		text-align: center;
		a{
			color: #fff;
			display: block;
			padding: 16px 25px 17px 30px;
			text-transform: uppercase;
			font: 15px sansReg;
		}
		&:hover{
			background-color: #fff;
			border: 1px solid $orange;
			a{
				color: $orange;
			}
		}
	}
}
.common-header{
	width: 100%;
	max-width: 562px;
	text-align: center;
	margin: 0 auto 77px;
	color: $grey;
	h2{
		font: 36px sansBold;
		text-transform: uppercase;
		margin-bottom: 6px;
	}
	hr{
		width: 100%;
		max-width: 170px;
		background-color: $grey;
		height: 2px;
		margin: 0 auto 18px;
	}
	p{
		font: 14px sansLight;
	}
}
.common-social-links-container{
	@extend .clearfix;
	text-align: center;
	display: inline-block;
	.social-item + .social-item{
		margin-left: 10px;
	}
	.social-item{
		float: left;
		a{
			width: 40px;
			height: 40px;
			line-height: 38px;
			display: block;
			border-radius: 50%;
			color: $grey;
			background-color: #f0f0f0;
			transition: all 0.2s ease;
			&:hover{
				background-color: $orange;
				color: #fff;
			}
		}
	}
}
.common-slick-btn-style{
	position: absolute;
	display: block;
	height: 48px;
	width: 48px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 17px;
	background-color: rgba( #fff, 0.2);
	z-index: 200;
	transition: all 0.2s ease;
	i{
		line-height: 46px;
		font-size: 28px;
	}
	&:hover{
		background-color: #fff;
		border-color: $orange;
		color: $orange;
	}
}
.morphing-menu{
	position: relative;
	float: right;
	top: 7px;
	right: 40px;
	width: 51px;
	height: 50px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	transition: opacity 0.2s linear;
	&:focus{
		outline: none;
	}
	span{
		display: block;
		float: left;
		clear: both;
		height: 4px;
		width: 40px;
		border-radius: 40px;
		background-color: $orange;
		position: absolute;
		right: 5px;
		top: 0;
		transition: all 0.4s ease;
		margin-top: 25px;
		&::before,&::after{
			content: '';
			display: block;
			float: left;
			clear: both;
			height: 4px;
			width: 40px;
			border-radius: 40px;
			background-color: $orange;
			position: absolute;
			right: 0;
			top: -25px;
			transition: all 0.4s ease;
		}
		&::before{
			margin-top: 10px;
		}
		&::after{
			margin-top: 40px;
		}
		&:hover{
			opacity: 0.8;
		}

	}
}
.button-animation{
	span{
		transition: opacity 0s linear;
		background-color: transparent;
		z-index: 100;
	}
	span::before, span::after{
		background-color: $orange;
	}
	span::before{
		transform: rotate(45deg) translateY(12px) translateX(12px);
	}
	span::after{
		transform: rotate(-45deg) translateY(-10px) translateX(10px);
	}
}
//END COMMON STYLES

//MAIN-NAV-START
.main-nav{
	position: absolute;
	top: 34px;
	left: 0;
	right: 0;
	z-index: 9999;
	.nav-list{
		@extend .clearfix;
		text-align: center;
	}
	.adaptive-logo{
		float: left;
		display: none;
		margin-left: 30px;
	}
	.morphing-menu{
		display: none;
	}
	.main-nav-list-item{
		display: inline-block;
		border-radius: 4px;
		vertical-align: middle;
		transition: background-color 0.2s ease;
		position: relative;
		a{
			display: block;
			font: 14px sansBold;
			color: #fff;
			text-transform: uppercase;
			padding: 14px 16px 14px 19px;
		}
	}
	.item-logo{
		border: 1px solid #fff;
		border-radius: 0;
		width: auto;
		height: auto;
		margin: 0 10px;
		a{
			padding: 12px 33px;
		}
		span{
			color: #fff;
		}
		h1{
			font-size: 50px;
		}
		p{
			font-size: 12px;
		}
	}
	.main-nav-list-item:not(.item-logo):hover{
		background-color: #343434;
		a{
			color: $orange;
		}
	}
	.dropdown-services-wrap{
		padding-top: 15px;
		display: none;
		position: absolute;
		left: 0;
		right: -156px;
	}
	.dropdown-services-list, .dropdown-ipsum-list{
		background-color: #343434;
		border-radius: 4px;
		list-style: disc inside;
		text-align: left;
		padding-left: 21px;
		a{
			display: inline-block;
			padding-left: 0;
		}
		span{
			color: #bbbbbb;
		}
	}
	.dropdown-services-item:hover{
		& > a > span{
			color: #fff;
		}
	}
	.services-item:hover{
		.dropdown-services-wrap{
			display: block;
		}
	}
	.services-list-submenu{
		position: relative;
		&::after{
			content: '>';
			position: absolute;
			display: block;
			right: 15px;
			top: 14px;
			color: #bbbbbb;
		}
	}
	.services-list-submenu:hover{
		.dropdown-ipsum-list{
			display: block;
		}
	}
	.ipsum-item:hover{
		span{
			color: #fff;
		}
	}
	.dropdown-ipsum-list{
		display: none;
		position: absolute;
		top: 0;
		right: -92%;
	}
}
.fixed-nav{
	position: fixed;
	top: 0;
	background-color: #fff;
	padding:19px 0 16px;
	box-shadow: 0 0 4px #000;
	.main-nav-list-item, .logo{
		a{
			color: #343434;
		}
	}
	.item-logo{
		border: 1px solid #343434;
		a{
			padding: 5px 15px;
		}
		h1{
			font-size: 38px;
		}
		span{
			color: $orange;
		}
	}
}
.opened{
	top: 100% !important;
}
//MAIN-NAV-END

//SLIDER-START
#top-slick-carousel-section{
	border-top: 3px solid $orange;
	border-bottom: 3px solid $orange;
	height: 95vh;
	.slick-slider, .slick-list, .slick-track{height: 100%;}
	.slick-arrow{
		position: absolute;
		z-index: 999;
		top: 50%;
		transform: translateY(-50%);
		background-color: transparent;
	}
	.slick-prev{
		left: 20px;
	}
	.slick-next{
		right: 20px;
	}
	.slide{
		background: url("../../images/top-slider-bg/slider-bg.png") no-repeat center;
		background-size: cover;
		outline: none;
	}
	.slide-wrap{
		height: 100%;
		width: 100%;
		display: table;
	}
	.slide-content{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		
	}
	.info-wrap{
		display: inline-block;
	}
	h2{
		font-size: 72px;
		line-height: 72px;
		text-transform: uppercase;
		font-weight: normal;
		margin: -30px 0 30px;
	}
	.field-list{
		@extend .clearfix;
		display: block;
		margin-bottom: 55px;
		ul li+li{
			list-style-type: disc;
		}
		li{
			float: left;
			margin: 0 10px 0 5px;
			list-style-position: inside;
			font: 20px sansSemiBold;
			text-transform: uppercase;
		}
		li:nth-child(2) span{
			color: $orange;
		}
	}
	.banner-btn{
		display: inline-block;
		border: 1px solid #fff;
		background-color: transparent;
		transition: all 0.2s ease;
		max-width: 187px;
		a{
			text-transform: uppercase;
			display: block;
			padding: 20px 35px;
			width: 100%;
			max-width: 187px;
		}
	}
	.banner-btn:hover{
		background-color: #fff;
		a{
			color: #000;
		}
	}
	.even-slide{
		.info-wrap{
			padding-top: 95px;
		}
		.banner-btn + .banner-btn{
			margin-left: 30px;
		}
		.banner-btn{
			margin-bottom: 80px;
		}
		p{
			font-size: 16px;
		}
	}
}
//SLIDER-END

//ABOUT-US-SECTION-START
#about-us-section{
	background-color: #fff;
	color: $grey;
	padding: 214px 0 110px;
	.about-us-slick-carousel{
		float: left;
		width: 100%;
		max-width: 571px;
		.slide{
			outline: none;
		}
		img{
			min-width: 100%;
		}
	}
	.slick-prev, .slick-next{
		@extend .common-slick-btn-style;
		top: 50%;
		transform: translateY(-50%);
	}
	.slick-prev{
		left: 20px;
	}
	.slick-next{
		right: 20px;
	}
	.about-us-slick-carousel{
		position: relative;
		z-index: 2;
	}
	.about-us-slick-carousel:before, .about-us-slick-carousel:after{
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 10px;
		left: 10px;
		width: 48.3%;
		top: 80%;
		max-width:300px;
		background: #777;
		box-shadow: 0 15px 16px #777;
		transform: rotate(-1deg);
	}
	.about-us-slick-carousel:after{
		transform: rotate(1deg);
		right: 10px;
		left: auto;
	}
	.about-us-content{
		padding-left: 30px;
		overflow: hidden;
		p{
			margin-bottom: 30px;
			font: 14px sansLight;
		}
	}
	h3{
		font: 20px sansSemiBold;
		margin-bottom: 30px;
		line-height: 17px;
		&::after{
			content: '';
			display: inline-block;
			height: 5px;
			width: 39%;
			background-color: #f7f7f7;
			vertical-align: bottom;
			margin-left: 10px;
		}
	}
	.about-us-btn{
		display: inline-block;
		margin-right: 30px;
	}
}
//ABOUT-US-SECTION-END

//AMAZING-SECTION-START
#amazing-section{
	background: url(../../images/road-bg.png) center no-repeat;
	background-size: cover;
	padding: 100px 0 66px;
	.container{
		padding: 0 40px;
	}
	.header-group{
		color: #fff;
		hr{
			background-color: #fff;
		}
	}
	.amazing-grid{
		font-size: 0;
		margin: 0 -40px;
	}
	.grid-item{
		width: 33.3%;
		display: inline-block;
		font-size: 14px;
		vertical-align: top;
		padding: 40px;
		h4{
			font: 18px sansSemiBold;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		p{
			font: 14px sansLight;
		}
		i{
			float: left;
			font-size: 35px;
			color: $orange;
		}
		.text-group{
			margin-left: 65px;
		}
	}
}
//AMAZING-SECTION-END

//TEAM-SECTION-START
#team-section{
	padding: 100px 0 17px;
	color: $grey;
	.team-grid{
		@extend .clearfix;
		margin: 0 -15px 64px;
	}
	.team-item{
		float: left;
		width: 25%;
		padding: 15px;
		text-align: center;
		h4{
			margin-bottom: 15px;
		}
		span{
			color: $orange;
		}
		p, h4{
			font: 16px sansLight;
		}
		p{
			margin-bottom: 20px;
		}
	}
	.avatar{
		margin: 0 auto 25px;
		width: 100%;
		max-width: 270px;
		border-radius: 50%;
	}
}
//TEAM-SECTION-END

//PORTFOLIO-SECTION-START
#portfolio-section{
	.portfolio-grid{
		@extend .clearfix;
	}
	.portfolio-item{
		width: 100%;
		max-width: 25%;
		float: left;
		vertical-align: top;
		position: relative;
		img{
			width: 100%;
			vertical-align: middle;
		}
		&:hover{
			.item-info{
				display: block;
			}
		}
	}
	.item-info{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: none;
	}
	.info{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #fff;
		text-align: center;
		padding-top: 5%;
		font: 14px sansLight;
		height: 33%;
		h4{
			color: #363636;
			font-size: 20px;
			margin-bottom: 5px;
		}
		p{
			color: $grey;
		}
	}
	.portfolio-social{
		position: absolute;
		top: 17%;
		right: 50%;
		transform: translate(50%, 50%);
	}
	.social-item{
		&, a{
			height: 60px;
			width: 60px;
		}
		a{
			line-height: 56px;
			color: #fff;
			background-color: transparent;
			border: 2px solid #fff;
			font-size: 20px;
		}
		&:hover{
			a{
				color: $orange;
				background-color: #fff;
			}
		}
	}
}
//PORTFOLIO-SECTION-END

//BUY-NOW-SECTION-START
#buy-now-section{
	padding: 90px 0 100px;
	color: $grey;
	.header-group{
		margin-bottom: 30px;
	}
	hr{
		margin-bottom: 70px;
	}
	p{
		font-size: 20px;
		a{
			color: $orange;
		}
	}
	.common-buttons-wrap{
		text-align: center;
		span:first-child{
			margin-right: 30px;
		}
	}
}
//BUY-NEW-SECTION-END

//OUR-CLIENTS-SECTION-START
#our-clients-section{
	color: #f0f0f0;
	.our-clients-slick-carousel{
		position: relative;
	}
	.slide{
		background: url(../../images/our-clients-slider-bg/city.png) center no-repeat;
		background-size: cover;
		padding: 90px 0 100px;
		outline: none;
	}
	.nav-wrap{
		text-align: center;
		position: absolute;
		left: 49%;
		bottom: 100px;
		transform: translateX(-50px);
	}
	.slick-prev, .slick-next{
		@extend .common-slick-btn-style;
		position: static;
		display: inline-block;
	}
	.slick-prev{
		margin-right: 30px;
	}
	.common-header{
		color: #f0f0f0;
		hr{
			background-color: #fff;
		}
	}
	.say-content{
		text-align: center;
		width: 100%;
		max-width: 720px;
		margin: 0 auto;
	}
	h4{
		font: 20px sansSemiBold;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	p{
		font: 16px sansReg;
		margin-bottom: 35px;
	}
	.auth{
		font: 16px sansSemiBold;
		text-transform: uppercase;
		margin-bottom: 90px;
		span{
			color: $orange;
		}
	}
}
//OUR-CLIENTS-SECTION-END

//CONTRIBUTORS-SECTION-START
#contributors-section{
	background-color: $orange;
	padding: 50px 100px;
	.contributors-slick-carousel{
		width: 100%;
		max-width: 1156px;
		margin: 0 auto;
	}
	.slick-prev, .slick-next{
		@extend .common-slick-btn-style;
	}
	.slick-prev{
		left: -75px;
		top: -8px;
	}
	.slick-next{
		right: -40px;
		top: -8px;
	}
	.slide:hover{
		.on-hover-info{
			display: block;
		}
	}
	.on-hover-info{
		color: #fff;
		font: 12px sansLight;
		background-color: $grey;
		position: absolute;
		width: 100%;
		max-width: 200px;
		border-radius: 5px;
		text-align: center;
		padding: 10px 15px 15px;
		display: none;
		z-index: 200;
		h5{
			font-size: 14px;
			margin-bottom: 10px;
		}
		p{
			margin-bottom: 5px;
		}
		a{
			color: $orange;
		}
		&::before{
			content: '';
			display: inline-block;
			top: -2px;
			left: 50%;
			width: 7px;
			height: 7px;
			background-color: $grey;
			transform: rotate(45deg) translateX(-50%);
			position: absolute;
		}
	}
}
//CONTRIBUTORS-SECTION-END

//RESPONSIVE-POWERFUL-SECTION-START
#responsive-powerful-section{
	color: $grey;
	padding: 90px 0 200px;
	.pc-wrap{
		width: 50%;
		float: left;
	}
	.info-content{
		width: 50%;
		overflow: hidden;
		padding-left: 20px;
		font: 14px sansLight;
		h4{
			font-size: 18px;
			font-weight: normal;
			margin-bottom: 10px;
		}
	}
	.info-container{
		margin-bottom: 55px;
	}
	.text-wrap{
		margin-left: 100px;
	}
	.img-wrap{
		width:70px;
		height: 70px;
		background-color: $orange;
		float: left;
		text-align: center;
		border-radius: 50%;
		i{
			color: #fff;
			line-height: 70px;
			font-size: 27px;
		}
	}
}
//RESPONSIVE-POWERFUL-SECTION-END

#main-footer{
	position: relative;
	.content-wrapper{
		padding-top: 57px;
	}
	height: 563px;
	margin-top: -563px;
	background-color: $main-footer-bg;
	overflow: hidden;
	.footer-list{
		@extend .clearfix;
		h3{
			margin-bottom: 34px;
			text-transform: capitalize;
			font-size: 20px;
		}
	}
	.f-item{
		float: left;
		width: 100%;
		max-width: 25%;
	}
	.f-item + .f-item{
		padding-left: 36px;
	}
//CONTACT-INFO-START
	.contact-info{
		font: 14px sansLight;
		p, div{
			margin-bottom: 24px;
		}
		a{
			color: #acabab;
			&:hover{
				color: $orange;
				border-color: $orange;
			}
		}
	}
	.social-links-container{
		@extend .clearfix;
		@extend .common-social-links-container;
		.social-item + .social-item{
			margin-left: 15px;
		}
	}
	.social-item{
		a{
			background-color: transparent;
			border: 1px solid #fff;
			color: #fff;
		}
	}
//CONTACT-INFO-END
//LATEST-POST-START
	.post-item{
		margin-bottom: 25px;
		img{
			float: left;
		}
		.wrap-info{
			margin-left: 69px;
		}
		h4, p{
			margin-bottom: 10px;
		}
		p, a{
			font: 13px sansLight;
			color: #acabab;
		}
		a{
			color: $orange;
		}
	}
//LATEST-POST-END
//OUR-SERVICES-START
	.dropdown-div{
		border-bottom: 1px solid #fff;
		margin-bottom: 17px;
		position: relative;
		h4{
			margin-bottom: 12px;
		}
		p{
			overflow: hidden;
			height: 0;
			transition: all 0.2s ease;
		}
	}
	.dropdown-btn{
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background-color: #fff;
		color: $orange;
		position: absolute;
		top: 4px;
		right: 0;
		line-height: 13.5px;
		font-size: 15px;
		text-align: center;
	}
	.dropdown-active{
		height: inherit !important;
		margin-bottom: 18px;
	}
//OUR-SERVICES-END
////CONTACT-FORM-START
	.contact-form{
		input, textarea{
			padding: 10px 30px 10px 5px;
			border-radius: 2px;
			width: 100%;
			max-width: 270px;
			margin-bottom: 15px;
			resize: none;
		}
		textarea{
			overflow-y: hidden;
		}
		.input-wrap, .textarea-wrap{
			position: relative;
		}
		.input-icon{
			color: #acabab;
			position: absolute;
			right: 12px;
			top: 9px;
		}
		button{
			width: 100%;
			max-width: 113px;
			background-color: $orange;
			border-radius: 2px;
			color: #fff;
			padding: 11px 20px;
			float: right;
		}
	}
//CONTACT-FORM-END
	.logo{
		float: left;
	}
	.copyright-section{
		background-color: #000;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding-bottom: 20px;

	}
	.common-wrap{
		@extend .clearfix;
		margin-left: 120px;
		padding-top: 27px;
	}
	.copyright-p{
		float: left;
	}
	.contacts{
		@extend .clearfix;
		float: right;
	}
	.contacts-list li{
		float: left;
		a{
			color: #acabab;
		}
	}
	.contacts-list{
		@extend .clearfix;
		li + li{
			margin-left: 25px;
		}
	}
}

@import "media";